/* esercizio uno */

.ex-1-square:hover{
    background-color: red;
    transition-duration: 1s;
}

/* esercizio due */

.ex-2-square:active {
    width: 100%;
    transition-duration: 3s;
}

/* esercizio tre */

.ex-3-square:hover {
    border-radius: 100%;
    transition-duration: 3s;
}

/* esercizio 4 */

.ex-4-square:hover {
    transition-duration: 2.5s;
    opacity: 0;
}

/* esercizio 5 */

.ex-5-square:hover {
    transition-duration: 2s;
    transform: scale(2);
}

.ex-5-square:active {
    transition-duration: 2s;
    transform: scale(0.5);
}

/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* esercizio 7 */

.ex-7-img:hover {
    filter: grayscale(100%) sepia(50%);
    transition-duration: 2s;
}

/* esercizio 8 */

.ex-8-img:hover {
    filter: sepia(80%);
    border-radius: 20px;
    transition-duration: 2s;
}

/* esercizio 9 */

.ex-9-img:hover {
    filter: sepia(50%);
    border-radius: 20px;
    transform: scale(1.5);
    transition-duration: 2s;
}

/* esercizio 10 */

.ex-10-icon {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation { 
    from { 
      transform: rotate(360deg); 
    } to { 
      transform: rotate(0deg); 
    }
}

/* esercizio 11 */

.ex-11-icon:hover {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotation { 
    0% { 
      transform: rotate(0deg); 
    } 
    75% { 
      transform: rotate(315deg); 
    }
}